bot/.idea/
bot/__pycache__/
bot/venv/
bot/bot_log.log
bot/data.json
bot/config.ini

neuro/.idea/
neuro/__pycache__/
neuro/venv/
neuro/neuro_log.log
neuro/test.py
neuro/config.ini
neuro/im.jpg

jupyter

README.md